General styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.signup-container {
    background-image: url('https://plus.unsplash.com/premium_photo-1729052885616-fb47a51d2a26?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8');
  
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
    font-weight: 600;
}

.input-box {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-box input {
    width: 100%;
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    outline: none;
    transition: 0.3s ease;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #666;
    transition: 0.3s ease;
    pointer-events: none;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: 0;
    left: 10px;
    font-size: 0.8rem;
    color: #007BFF;
}

.signbtn {
    width: 100%;
    padding: 0.8rem;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signbtn:hover {
    background-color: #0056b3;
}
.user-map{
    
    display: flex;
    flex-wrap: wrap;
    margin: 2px;

}

/* Media Queries */
@media (max-width: 768px) {
    .form-box {
        padding: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}
